@tailwind base;
@tailwind components;
@tailwind utilities;

.focus-visible:focus-visible {
  @apply ring-2 ring-offset-1 ring-blue-400;
}

.loading-spinner {
  width: 240px;
  height: 240px;
}

.loading-spinner:after {
  content: ' ';
  display: block;
  width: 220px;
  height: 220px;
  margin: 8px;
  border-radius: 50%;
  border: 16px solid #3b82f6;
  border-color: #3b82f6 transparent #3b82f6 transparent;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
